.note_container {
  background-color: white;
  box-shadow: 0 8px 11px -8px rgba(34, 60, 80, 0.09);
  margin-bottom: 15px;
  width: 100%;
  padding: 25px 20px;
  border-radius: 5px;
}
.fields_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  input {
    font-size: 15px;
    padding: 0.6em 1.2em;
    border-radius: 2px;
    border: 0.5px solid black;
  }
}

.button_container {
  width: 100%;
  text-align: right;
  margin-top: 10px;
}